/* Global Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  max-width: 1200px; /* Max width for large screens */
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
}

a {
  text-decoration: none; /* Removes underline from all links */
  color: blue;
}

a:focus, a:hover {
  text-decoration: underline; /* Focus and hover state */
}

ul {
  list-style-type: none; /* Removes bullets from all lists */
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
nav {
  background-color: #4a4a4a;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px 0;
  font-size: 1.5em;
}

nav ul {
  display: flex;
  justify-content: space-evenly; /* Distribute space evenly */
  flex-wrap: wrap; /* Prevent wrapping */
}

nav a {
  color: white;
  font-weight: bold;
  padding: 10px;
}

nav a:hover {
  color: #ccc;
}

/* Header */
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* Profile Picture */
.profile-pic {
  width: 10em;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  margin: 10px;
}

/* Projects Section */
#projects {
  padding: 20px;
  text-align: center;
  display: flex-box;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-item {
  margin: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.project-item:hover {
  transform: scale(1.05);
}

.project-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project-info h3 {
  margin-top: 0;
}

/* Generic Section Styling */
section {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}

/* Media Queries for Mobile First Approach */
@media screen and (min-width: 768px) {
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%; /* Stretch the nav section to full width */
}

nav a {
  margin-right: 15px;
}

/*.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}*/

nav a:last-child {
    margin-right: 0;
    display: flex;
    justify-content: space-between; /* Distribute space evenly */
    flex-wrap: nowrap; /* Prevent wrapping */
  }

  nav a {
    margin-right: 15px; /* Space out the links */
  }

  nav a:last-child {
    margin-right: 0; /* Remove margin for the last item */
  }
}


/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 0.8em;
}

footer ul li {
  display: inline;
  margin-right: 20px;
}

footer a {
  color: white;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  margin: 10px 0 0;
}
