body {
    font-size: xx-large;
}
header h1{
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 5vw;
}

#introduction h2{
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 5vw;
}
#introduction p{
    font-size: 5vw;
}

#weatherH2{
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 5vw;
}

#LiveCarousel{
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 5vw;
}
#location {
  font-size: 5vw;
  text-align: center;
}
#forecast-container {
  overflow-x: scroll;
  padding: 10px 0;
}
#forecast-container div {
  display: inline-block;
  text-align: center;
  border: 1px solid #000000;
  padding: 10px;
}

.forecast-item {
    display: inline-block;
    width: 25%;
    height: 25%;
    margin-right: 10px;
    text-align: center;
    padding: 10px;
    white-space: normal;
    word-wrap: break-word;
    vertical-align: top;
    box-sizing: border-box
  }
  
  #forecast-container {
    overflow-x: scroll;
    height: 25%;
    padding: 10px 0;
    white-space: nowrap;
  }
  
  #forecast-container::-webkit-scrollbar {
    width: 10px;
  }
  
  #forecast-container::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
  }
  
  #forecast-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  .forecast-image {
    width: 100%;
    height: auto;
  }
  