/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none; /* Removes underline from all links */
}

ul {
  list-style-type: none; /* Removes bullets from all lists */
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
nav {
  background-color: grey;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

nav a {
  color: white;
  font-weight: bold;
  padding: 10px;
}

nav a:hover {
  color: #ccc;
}

/* Header */
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* Profile Picture */
.profile-pic {
  width: 10em;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  margin: 10px;
}

/* Projects Section */
#projects {
  padding: 20px;
  text-align: center;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-item {
  margin: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  max-width: 300px;
  transition: transform 0.3s ease-in-out;
}

.project-item:hover {
  transform: scale(1.05);
}

.project-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project-info h3 {
  margin-top: 0;
}

/* Generic Section Styling */
section {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}

/* Media Queries for Mobile First Approach */
@media screen and (max-width: 768px) {
  .profile-pic {
      width: 8em;
  }

  .project-item {
      max-width: 100%;
  }

  nav a {
      font-size: 1.2em;
  }
}

@media screen and (max-width: 480px) {
  nav {
      padding: 5px 0;
  }

  nav a {
      padding: 5px;
  }

  .profile-pic {
      width: 6em;
  }

  .project-item {
      margin: 10px;
  }
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 0.8em;
}

footer ul li {
  display: inline;
  margin-right: 20px;
}

footer a {
  color: white;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  margin: 10px 0 0;
}
